@import 'variable'; 
body{
    font-family: $mainFont;
    font-size: 16px;
    line-height: 2;
}
.container-big {
    max-width: 2000px;
}
.container {
    max-width: 1050px;
}
//menu edit
.navbar {
    margin-top: 30px;
    padding: 20px;
    background-color: transparent;
    border: 0;
    z-index: 999;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top: 15px;
    position: absolute;
    padding: 0px;
    img {
        height: auto;
        width: 100%;
        padding: 0;
    }
}
.navbar-nav {
    margin: 0;
    text-align: center;
    li {
        text-transform: uppercase;
        font-weight: 800;
        padding: 0 30px;
        a {
            color: $background !important;
            &:hover {
                color: grey !important;
            }
        }
    }
}
button.my-btn {
    background-color: $almostGreen;
    border: none;
    text-transform: uppercase;
    color: $background;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover {
        color: $almostGreen;
        border: 1px solid $almostGreen;
    }
}
h2 {
    color: $almostGreen;
    font-size: 24px;
    font-family: $boldFont;
    text-transform: uppercase;
    margin: 50px 0;
}
section p {
    margin: 40px 0;
}
.big-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
        width: auto;
        transform: translate(-100px,50px)
    }
}
.big-photo-left {
    @extend .big-photo;
    left: 0;
    right: auto;
    img {
        transform: translate(0, 50px);
    }
}
.relative {
    position: relative;
}
section {
    padding: 50px 0;
}
h3 {
    font-weight: bolder;
    text-transform: uppercase;
}
.left {
    float: right;
    margin: 30px 0;
}
.right {
    float: left;
    margin: 30px 0;
}

//header
header {
    background: url(../images/Livello_1.png) no-repeat bottom /cover;
    height: 100vh;
    min-height: 450px;
    max-height: 950px;
    overflow: hidden;
    position: relative;
    .slogan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $background;
        letter-spacing: 1px;
        word-spacing: 4px;
        h1 {
            text-transform: uppercase;
            font-weight: 800;
            font-family: $boldFont;
        }
    }
}
.icons {
    color: $background;
    position: absolute;
    font-size: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;
    .fa {
        margin-left: 10px;
        cursor: pointer;
        transition: color 0.2s;
        &:first-of-type {
            margin-left: 0;
        }
        &:hover {
            color: $almostGreen;
        }
    }
}
//second section
.second {
    background-color: $backgroundv2;
}
.community {
    background-color: $backgroundv2;
    line-height: 1.4;
    h3 {
        text-transform: uppercase;
        margin: 15px 0;
    }
    .header-div {
        text-align: center;
    }
    p {
        margin-top: 0;
    }
}
.form-sec {
    height: 100vh;
    max-height: 900px;
    min-height: 250px;
    background: $almostGreen url(../images/Livello_3.png) no-repeat center 0/cover fixed;
    h3 {
        color: $backgroundv2;
    }
    .submit {
        background-color: $almostGreen !important;
        border: 0;
        padding: 10px 20px;
        color: $background;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    input {
        padding: 20px;
        border: 0;
    }
    .myform {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.download {
    text-align: center;
    background-color: $backgroundv2;
    padding-bottom: 70px;
    h2 {
        color: black;
        margin-bottom:10px;
    }
    p {
        text-transform: uppercase;
    }
    .app-btn {
        min-width: 220px;
        text-align: left;
        padding: 10px 0 10px 20px;
        position: relative;
        background-color: $almostGreen;
        color: $background;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.2s background-color;
        margin: 10px;
        &:hover {
            background-color: #2b7163;
            color: $backgroundv2;
        }
        .fa {
            position: absolute;
            right: 0;
            top: 0;
            line-height: 40px;
            width: 45px;
            height: 100%;
            background-color: #2b7163;
            color: $background;
            padding-left: 11px;
            font-size: 30px;
        }
    }
}
footer {
    padding: 30px 0 10px;
}
footer {
    padding: 40px 0;
    .menu-bottom {
        li::after {
            content: "|";
            margin-left: 10px;
            color: $almostGreen;
        }
        li:last-of-type::after {
            content: '';
        } 
        a {
            color: black;
        }
    }   
    .logo-bottom {
        text-align: right;
    }
    
}
#carousel {
    margin: 0 auto;
    overflow: hidden;
    max-width: 760px;
    max-height: 274px;
    ul {
        margin: 0;
        padding: 0;
        width: 2000px;
        li {
            list-style-type: none;
            float: left;
            img {
                width: 100%;
                padding: 5px;
            }
        }
    }
}
.controls {
    cursor: pointer;
    margin: 0 5px;
    padding: 0 5px;
}
.controls-group {
    span {
        position: absolute;
        top: -20px;
        &:last-of-type {
            left: 40px;
        }
    }
}
.cube {
    min-height: 414px;
}
#designCarousel {
    text-align: center;
    min-height: 412px;
    overflow: hidden;
    position: relative;
    div {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        transform: translate(0, 0px);
    }
    img {
        max-width: 100%;
    }
}
#counter {
    margin: 5px 0;
}
@import 'rwd';